@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}

p,
span,
.span-a {
  font-size: 1.5rem;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 3.3rem;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}

.h4-header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7rem !important;
}

.segment-p {
  font-size: 1.2rem;
}

.span-text {
  font-size: 1.5rem;
}

.tools-list {
  font-size: 1.3rem !important;
}

.footer-list,
.footer-text {
  font-size: 1.3rem;
}

.footer-list a {
  color: inherit;
}

.footer-contact-header {
  margin-bottom: 0 !important;
}

header {
  position: fixed !important;
  z-index: 1000;
  left: 0px;
  right: 0px;
}

.web {
  width: 100%;
  min-height: 15rem;
  background-color: #e8e8e8;
  padding: 0 30px;
  margin: 30px 0;
}
.mobile-app {
  padding: 0 15px;
  width: 100%;
  min-height: 15rem;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #e8e8e8;
}
.enterprise {
  padding: 20px;
  width: 100%;
  min-height: 15rem;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #e8e8e8;
}

.mobile-app p {
  margin-bottom: 0;
}

.enterprise:hover,
.web:hover,
.mobile-app:hover {
  background-color: #db4437;
  color: white;
}

.mobile-app .icon,
.web .icon {
  position: static;
}

.form {
  width: 100%;
  margin: 0 5px 20px;
  outline: none;
}

.ui.form input[type="text"],
.ui.form input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.button {
  border-radius: 30px !important;
  margin-right: 20px;
  width: 150px;
}

#menu-style {
  padding-top: 25px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 18.5px;
  color: #201f1f;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: rgb(54, 54, 54) !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: rgb(54, 54, 54) !important;
}

.ui.checkbox label {
  font-size: 1.3rem;
}

.ui.toggle.checkbox label:before {
  content: "\1F31B";
  padding-top: 0.2em;
  padding-right: 0em;
  text-align: right;
  height: 1.7rem;
}

.ui.toggle.checkbox input:checked ~ label:before {
  content: "\1F31E" !important;
  padding-top: 0.2em;
  padding-left: 0em;
  text-align: left;
  color: black;
}

.ui.toggle.checkbox input ~ label:after {
  left: -0.05rem;
  top: 0.1rem;
}

.dev-img {
  position: relative;
  top: 1rem;
  right: 15rem;
  width: 155%;
}

.dev-img .img-1 {
  height: 35rem;
}
.boxes {
  position: relative;
  top: 0;
  right: -3rem;
}

.img-1 {
  border-radius: 5px;
}

.boxes-2 {
  position: relative;
}

.img-2 {
  border-radius: 5px;
}
.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem !important;
}

.custom-container {
  margin: 0 auto;
  width: 85% !important;
  padding: 0;
}

.nav-btn span {
  font-size: 1rem !important;
}

a.typeform-share {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  height: 42.5px;
  padding: 5px 10px;
  border-radius: 21px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-img {
  cursor: pointer;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
}
.nav-menu-dark {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 7.7rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100px;
}
.nav-link-1 {
  color: grey;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-link-2 {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-link-1:hover {
  color: grey;
}
.nav-link-2:hover {
  color: #ffffff;
}
.check {
  position: relative;
  top: 0.3rem;
}
.menu-icon-1 {
  visibility: hidden;
}
.menu-icon-2 {
  visibility: hidden;
}
.brand {
  margin-left: -0.3rem;
}

/* New Section  */

.technologies {
  text-align: left;
}

.technologies h3 {
  font-weight: normal;
}

/* About US */

.approach2-segment p {
  padding-bottom: 30px;
  padding-right: 120px;
}

.worked-with {
  margin-right: 30px;
}

/* Contact US */
.contact-h1 {
  font-size: 50px;
  font-weight: 600;
}

Form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.about-segment {
  padding: 60px 30px;
}

.kubernetes-img {
  margin-top: 50px;
  border-radius: 5px;
  height: 70%;
}

.dev-team {
  margin: 30px 0;
  align-items: center;
}
.developers {
  max-width: 70%;
  margin: 7rem 0;
}

.location-segment {
  padding-top: 30px;
  text-align: center;
}

.location-segment img {
  margin-left: 90px;
}

.location-segment p {
  padding-right: 20px;
}

.segment {
  min-height: calc(100vmin - 85.38px);
}

.service-subject {
  height: fit-content;
}

.service-subject .image {
  max-height: 15rem;
  border-radius: 5px;
  height: 100%;
  width: 75%;
}

.service-subject p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.ui.mini.image.tools {
  width: 60px;
}

.tool-details {
  display: flex !important;
  justify-content: center;
  align-content: center !important;
}

.tools-list .item {
  padding-top: 10px;
}

.tools-list .tool-details {
  padding-top: 10px;
}

.footer-copyright {
  text-align: center;
  margin: auto;
}

.footer-copyright p {
  display: inline;
}

.mission {
  text-align: center;
  margin: auto;
  padding: 20% 0;
}

.mission p {
  padding: 5% 0;
}

.footer-section {
  min-height: fit-content;
}

@media all and (min-width: 992px) {
  .ui.grid > .row > [class*="five wide computer"].column {
    width: 33.25% !important;
  }
}

/* For Smaller Screens E.g Tab */
@media all and (max-width: 1024px) {
  .nav-menu {
    margin-right: 0.5rem;
  }

  .developers {
    margin: 0;
    max-width: fit-content;
  }

  .dev-img {
    top: 2rem;
    right: 0;
  }

  .dev-img .img-1 {
    width: 50%;
    height: 50%;
  }
}

@media all and (max-width: 768px) {
  .nav-menu {
    margin-right: 0.5rem;
  }

  .developers {
    margin: 0;
    max-width: fit-content;
  }

  .dev-img {
    top: 2rem;
    right: 0;
  }

  .dev-img .img-1 {
    width: 50%;
    height: 50%;
  }

  .product-segment {
    margin-left: 13rem;
  }
}

@media all and (max-width: 700px) {
  .menu-icon-1 {
    visibility: visible;
    cursor: pointer;
  }
  .menu-icon-2 {
    visibility: visible;
    cursor: pointer;
    color: #ffffff !important;
  }
  .navbar {
    position: relative;
  }
  .brand-img img {
    font-size: 100px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }
  .nav-menu.active {
    background: #ffffff;
    left: -50px;
    width: 100vw;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }
  .nav-menu-dark {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }
  .nav-menu-dark.active {
    background: #100403;
    left: -50px;
    width: 100vw;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }
  .nav-link-1 {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-btn {
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 40%;
    left: 30%;
    right: 30%;
    display: table;
  }
  .nav-icon {
    position: absolute;
    left: 30%;
    right: 30%;
    width: 40%;
    padding: 1rem;
  }
  .check {
    position: absolute;
    top: 0.3rem;
  }
  .nav-link-2 {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .typeform-share {
    margin: auto !important;
  }
}

/* For Mobile */

/* New Section  */
@media all and (max-width: 480px) {
  .menu-icon-1 {
    visibility: visible;
    cursor: pointer;
    margin: 0;
  }
  .menu-icon-2 {
    visibility: visible;
    cursor: pointer;
    color: #ffffff !important;
  }
  .navbar {
    position: relative;
  }
  .brand-img img {
    font-size: 100px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }
  .nav-menu.active {
    background: #ffffff;
    left: -20px;
    width: 100vw;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }
  .nav-menu-dark {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }
  .nav-menu-dark.active {
    background: #100403;
    left: -20px;
    width: 100vw;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }
  .nav-link-1 {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-btn {
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 40%;
    left: 30%;
    right: 30%;
    display: table;
  }
  .nav-icon {
    position: absolute;
    left: 30%;
    right: 30%;
    width: 40%;
    padding: 1rem;
  }
  .check {
    position: absolute;
    top: 0.3rem;
  }
  .nav-link-2 {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .dev-img {
    position: relative;
    top: 1rem;
    left: -3rem;
  }
  .boxes {
    position: relative;
    top: 0;
  }
  .img-1 {
    position: absolute;
    top: -115px;
    left: 43px;
    height: 100px;
    width: 100px;
  }
  .dev-img-2 {
    position: relative;
    top: 1rem;
    right: -5rem;
  }
  .boxes-2 {
    position: relative;
    top: 0;
  }
  .img-2 {
    position: absolute;
    top: -115px;
    left: 1px;
    height: 100px;
    width: 100px;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  .h4-header {
    font-size: 1.5rem !important;
    margin: 1rem 0 !important;
  }

  p,
  span {
    font-size: 1.3rem;
  }

  .span-text {
    font-size: 1.3rem;
  }

  #intro-image {
    margin-top: 0;
  }

  .about-segment {
    padding: 30px 0;
  }

  .angle-up-img {
    visibility: hidden;
  }

  .dev-team {
    margin: 1rem 0;
  }

  .dev-team-grid {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .developers {
    max-width: fit-content !important;
    margin: 0;
  }

  .dev-img {
    position: relative;
    top: 10rem;
    right: 3rem;
    width: auto;
  }

  .dev-img .img-1 {
    width: 90%;
    height: 70%;
  }

  .technologies h3 {
    text-align: center;
  }

  .angle-down-img {
    visibility: hidden;
  }

  .frontend-tools,
  .backend-tools,
  .mobile-tools {
    text-align: center !important;
    margin-bottom: 5rem;
  }

  .tools-list {
    margin-top: 0 !important;
    padding-top: 0;
  }

  .tools-list .item {
    padding-top: 1rem;
  }

  .typeform-share {
    margin: auto !important;
  }

  .approach2-segment p {
    padding-right: 0;
  }

  .contact-h1 {
    font-size: 2.5rem;
  }

  .form {
    display: block;
    margin-left: 0;
  }

  .location-segment img {
    margin: auto;
  }

  .product-segment {
    margin-left: 0;
  }

  .mobile-app {
    padding: 0 20px 3rem;
    margin-left: 0;
  }

  .enterprise {
    padding: 30px 30px 3rem;
    margin-left: 0;
  }

  .enterprise .icon {
    bottom: 0;
  }

  .footer-header,
  .footer-contact-header {
    font-size: 1.3rem;
  }

  .custom-container {
    width: 90% !important;
  }
}
