@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif !important;
}

header {
  position: fixed !important;
  z-index: 1000;
  left: 0px;
  right: 0px;
}

main {
  padding-top: 85.38px;
  min-height: calc(100vh - 85.38px);
}

.web {
  width: 100%;
  min-height: 15rem;
  background-color: #e8e8e8;
  padding: 0 30px;
  margin: 30px 0;
}
.mobile-app {
  padding: 0 20px;
  width: 100%;
  min-height: 15rem;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #e8e8e8;
}
.enterprise {
  padding: 0 30px;
  width: 100%;
  min-height: 15rem;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #db4437;
}
.form {
  width: 100%;
  margin: 0 5px;
  border: 0;
  outline: none;
}

#menu-style {
  padding-top: 25px;
  margin: 0;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #f4b400 !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: lightgrey !important;
}
.dev-img {
  position: relative;
  top: 0;
  margin-left: 30px;
}
.pattern-1 {
  position: absolute;
  top: 30px;
  left: 100px;
}
.box-1 {
  position: absolute;
  top: -150px;
  left: 50px;
}
.img-1 {
  position: relative;
  top: -340px;
  left: -30px;
  height: 150px;
  width: 200px;
}
.dev-img-2 {
  position: relative;
  top: -100px;
}
.pattern-2 {
  position: absolute;
  top: 0;
}
.box-2 {
  position: absolute;
  top: -180px;
  left: -50px;
}
.img-2 {
  position: relative;
  top: -370px;
  left: -120px;
  height: 150px;
  width: 200px;
}
.err {
  padding: 70px 0;
  text-align: center;
  position: relative;
  min-height: calc(100vh - 85.38px);
}
.err h1 {
  position: relative;
}
.err-img {
  top: 100px;
  left: 250px;
  position: absolute;
}
.err-msg {
  position: relative;
  top: -50px;
}
