@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
    @apply w-11/12 mx-auto;
}

.card {
    @apply bg-white rounded overflow-hidden shadow-md relative hover:shadow-lg
    md:w-1/3 h-64 md:h-80 py-8 px-2 hover:bg-cardHover dark:bg-darkModeBg
}

.a-btn {
    @apply py-3 px-6 text-white border-2 border-transparent bg-brightRed dark:bg-darkModeRed rounded-[10px] hover:bg-transparent hover:border-2 hover:border-brightRed hover:text-black dark:hover:bg-red-700  text-center
}

.a-btn-inv {
    @apply py-3 px-6 text-black border-2 border-brightRed dark:bg-darkModeRed rounded-[10px] hover:bg-brightRed dark:hover:bg-red-700 hover:text-white hover:border-white  text-center
}


.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
} 

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
display: none;
}

.open .hamburger-bottom {
transform: rotate(-45deg) translateY(6px) translate(-6px);
}